<!DOCTYPE html>
<html>
  <header>
    <h1>Listado de Pokemon</h1>
  </header>
   <section>
    <div id="searchPokemons">
      <div id="searchGroup" class="searchGroup"> 
        <img src="../assets/icons8-búsqueda.svg" alt="searchImage" class="searchImage">
        <input type="search" id="searchPoke" placeholder="Buscar" />
      </div>
      <button class="btnPost">Nuevo</button>
    </div>
    <div id="container"></div>
    <div id="containerModal"></div>
   </section>
  <footer>By Tata</footer>
</html>
<router-outlet></router-outlet>